:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(63, 63, 63);
  background-color: #6C9A8B;
  border-radius: 8px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: 'Roboto', sans-serif; /* Cambia a otra fuente si prefieres */
  font-size: 1rem; /* Ajusta según tus necesidades */
  line-height: 1.5; /* Espaciado entre líneas */
  color: #836c6c; /* Asegura contraste legible */
  margin: 16px 0; /* Espaciado arriba y abajo */
}

h2.card__title{
  color: #A1683A
}
div.categoria-card{
  background-color: #E8998D;
}
div.admin-dashboard{
  background-color: #EED2CC;
}
div.card{
  border-radius: 5px;
  background-color: #EED2CC ;
}
div.categorias-container{
  background-color: #EED2CC;
}
div.card__content {
margin-left: 15px;
}

.card__image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  object-position: center; 
  background-color: #f5f5f5; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  display: block; 
}
h3{
  text-align:center ;
  color:#E8998D
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3em;
  line-height: 1.1;
  color:#A1683A
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #A1683A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.star-rating {
  display: flex;
  gap: 5px;
  justify-content:flex-end;
  align-items: center;
  font-size: 1rem;
  color: #ccc; /* Color de las estrellas vacías */
  cursor: pointer;
  
}

.star-rating .star.filled {
  color: #FFD700; /* Color de las estrellas llenas */
}

#rating-value {
  align-content: end;
  text-align:right;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
