@use '../base/variables' as vars; 
@use '../base/mixins' as mixins;  

.header {
  background-color: 6C9A8B; 
  color:#FBF7F4;
  padding: vars.$padding-medium;

  @include mixins.respond-to(desktop) { 
    font-size: 24px;
  }

  &__button {
    @include mixins.button(vars.$secondary-color, vars.$background-color); 
  }
}
