// Breakpoints
// $breakpoint-mobile: 576px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1024px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px; // Desktop estándar
$breakpoint-large-desktop: 1920px; // Pantallas muy grandes

// Espaciados
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// Colores
$primary-color: #773344;
$secondary-color: #E3B5A4;
$background-color: #F5E9E2;
$text-color: #FFFFFA;
$accent-color: #696773;

// Tipografía
$font-family-primary: 'Roboto', sans-serif;
$font-size-base: 16px;

// Bordes
$border-radius: 8px; // Define el borde redondeado